<div class="footer">
  <div class="footer__navbar__container">
    <div  class="navbar__item" (click)="scrollTo('banner')">Главная</div>
    <div  class="navbar__item" (click)="scrollTo('enroll_form')" >Запись</div>
<!--    <div routerLink="/price" class="navbar__item">Прайс</div>-->
    <div class="navbar__item" (click)="scrollTo('guarantee')">Гарантия</div>
    <div class="navbar__item" (click)="scrollTo('map')">Контакты</div>
<!--    <div routerLink="/crush-test" class="navbar__item">Краш-тесты</div>-->
  </div>
 <div class="row">
<!--   <div><a href="https://instagram.com/smartmania_tsk_nsk?igshid=ZWQyN2ExYTkwZQ==" target="_blank">-->
<!--     <div-->
<!--       class="social__icon" style="background-image:url('../../../assets/images/buttons/insta-icon.png')"></div>-->
<!--   </a></div>-->
   <div><a href=" https://vk.com/smartmaniapublic211411031" target="_blank">
     <div
       class="social__icon" style="background-image:url('../../../assets/images/buttons/vk-icon.png')"></div>
   </a></div>
   <div><a href=" https://www.youtube.com/@smartmania9937" target="_blank">
     <div
       class="social__icon" style="background-image:url('../../../assets/images/buttons/youtube-icon.png')"></div>
   </a></div>
 </div>
</div>
