.point__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 20px;
}

.point {
  background-color: white;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.point__header{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: var(--borderRadius);
  font-size: 20px;
}
.point__img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  background-size: 100%;
  border-radius: var(--borderRadius);
}

.point__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .point__container{
  padding: 0;
    padding-bottom: 20px;
  }

}
