<div class="point__container">
  <div class="point__header">
    <div><b>SmartMania</b></div>
  </div>
  <div class="point" *ngFor="let point of points">
    <div class="point__img" [ngStyle]="{'background-image': 'url(' + point.imgPath + ')'}"></div>
    <div class="point__info">
      <div><b>{{point.title}}</b></div>
      <div>{{point.address}}</div>
      <div>
        {{point.phone}}</div>
      <div>Время работы:
        {{point.workingTimeStart}} - {{point.workingTimeEnd}}</div>
    </div>
  </div>
</div>
