<div class="banner__block">
  <div class="banner__overlay"></div>
  <div class="banner__text">
    <div class="banner__text__title text_shadow">SmartMania</div>
    <div class="banner__text__slogan text_shadow">
      <ul>
        <li>устойчива к механическим повреждениям
        </li>
        <li> 100% отдача сенсора
        </li>
        <li> гарантия 365 дней
        </li>
      </ul>
    </div>
    <div class="banner__buttonContainer">
      <div class="button" (click)="scrollToEnroll()">Записаться<span class="flare"></span></div>
    </div>
  </div>
  <a href=" https://www.youtube.com/@smartmania9937" target="_blank">
    <div class="banner__connectWithUs">
      <div
        class="social__icon" style="background-image:url('../../../assets/images/buttons/telegram-icon.png')"></div>
    </div>
  </a>
</div>

