<div style="position:relative;overflow:hidden;">
<!--  <a href="https://yandex.ru/maps/org/smartmania/188241350592/?utm_medium=mapframe&utm_source=maps"-->
<!--    class="map__1">SmartMania</a>-->
<!--  <a href="https://yandex.ru/maps/67/tomsk/category/items_for_mobile_phones/52984923455/?utm_medium=mapframe&utm_source=maps"-->
<!--     class="map__2">Товары для мобильных телефонов в Томске</a>-->
  <iframe src="https://yandex.ru/map-widget/v1/?display-text=SmartMania&ll=84.947649%2C56.484640&mode=search&oid=188241350592&ol=biz&sll=84.947649%2C56.484640&sspn=0.314140%2C0.121384&text=%7B%22text%22%3A%22SmartMania%22%2C%22what%22%3A%5B%7B%22attr_name%22%3A%22chain_id%22%2C%22attr_values%22%3A%5B%2277187087731%22%5D%7D%5D%7D&z=12"
       class="map__back"    frameborder="1" allowfullscreen="true" style="position:relative;">
</iframe></div>
