
#map_container{
  width: 500px;
  height: 500px;
}
.map__back{
  width:100%;
  height: 60vh;
}
.map__1{
  color:#eee;font-size:12px;position:absolute;top:0px;
}
.map__2{
  color:#eee;font-size:12px;position:absolute;top:14px;
}
