.social__icon{
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
