<div class="block">
  <div class="title">Контактные данные</div>
  <div>
    <app-point></app-point>
    <div class="title">Связаться с нами</div>
    <div>Whatsapp: +7 929 406-66-60</div>
    <div class="padding"></div>
    <div class="title">Наши соц.сети</div>

    <div class="social">
      <div><a href="https://instagram.com/smartmania_tsk_nsk?igshid=ZWQyN2ExYTkwZQ==" target="_blank">
        <div
          class="social__icon" style="background-image:url('../../../assets/images/buttons/insta-icon.png')"></div>
      </a></div>
      <div><a href=" https://vk.com/smartmaniapublic211411031" target="_blank">
        <div
          class="social__icon" style="background-image:url('../../../assets/images/buttons/vk-icon.png')"></div>
      </a></div>
      <div><a href=" https://www.youtube.com/@smartmania9937" target="_blank">
        <div
          class="social__icon" style="background-image:url('../../../assets/images/buttons/youtube-icon.png')"></div>
      </a></div>
    </div>

    <div class="padding"></div>


  </div>

