<div>
  <div class="guarantee__container">
    <div class="guarantee__block column slideRight">
      <div class="guarantee__img" style="background-image: url('../../../assets/images/guarantee/control.png')"></div>
      <div class="guarantee__text"> <p> Проверка качества 14 дней</p></div>
    </div>
    <div class="guarantee__block column slideLeft">
      <div class="guarantee__img" style="background-image: url('../../../assets/images/guarantee/swap.png')"></div>
      <div class="guarantee__text">   <p> Гарантия замены 365 дней по любой причине</p></div>
    </div>
  </div>
</div>
