<div class="variations">
  <div class="title">Варианты плёнки</div>
  <div class="variations__container">
    <div class="variations__item">
      <div class="variations__item__image"></div>
      <div class="variations__item__text">МАТОВАЯ</div>
    </div>
    <div class="variations__item">
      <div class="variations__item__image"></div>
      <div class="variations__item__text">ГЛЯНЦЕВАЯ</div>
    </div>
    <div class="variations__item">
      <div class="variations__item__image"></div>
      <div class="variations__item__text">ТЕКСТУРНАЯ</div>
    </div>
  </div>
</div>
