<div class="block">
  <div class="title">О нас</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia magna metus, sed ultricies urna ultrices vitae.
    Nulla mattis felis a fermentum aliquam. Morbi at metus non sapien auctor vulputate eu et diam.
    Quisque sed libero eget elit luctus sollicitudin. Sed mauris enim, elementum at placerat non, rhoncus non tellus.
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ac nunc et nulla fringilla suscipit ut tincidunt purus. Sed consectetur nisi orci, et convallis lacus lacinia sit amet. Etiam ante sem, tempus eu enim vitae, eleifend pellentesque mi. Quisque in urna quis felis rhoncus elementum. Duis luctus
    placerat ligula, eget porta justo mollis eu.
    In in hendrerit urna. In mollis tincidunt augue, et efficitur mauris dictum eu.
    Aenean nulla neque, lobortis ut mi at, pharetra tempus erat. Duis id scelerisque eros.
    Nulla facilisi.</div>
  <app-feedback></app-feedback>
</div>
