<div class="advantages">
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
  <div class="advantage__item">
    <div class="advantage__item__img"></div>
    <div class="advantage__item__text">Advantage text</div>
  </div>
</div>
