<app-banner id="banner"></app-banner>
<div>
  <!--Кнопка, по нажатию на которую открывается прайс-->
  <div *ngIf="!product.priceOpen" class="price__showButton" (click)="product.priceOpen=!product.priceOpen">
    <div class="price__showButton__text">Прайс</div>
    <div class="price__showButton__icon"></div>
  </div>
  <!--  Открывающийся прайс-->
    <app-price *ngIf="product.priceOpen" (outClosePrice)="closePrice()"></app-price>
</div>
<app-variations></app-variations>
<!--Main content-->
<div>
  <div class="block" id="enroll_form">
    <app-form-enroll></app-form-enroll>
    <div class="padding"></div>
  </div>
  <div>
    <div class="title" id="map">Где нас найти</div>
    <app-map></app-map>
    <div class="padding"></div>
  </div>
  <div>
    <div class="title" id="guarantee">Гарантия</div>
    <div class="block">
      <app-guarantee></app-guarantee>
    </div>
    <div class="padding"></div>
    <div class="title">Преимущества</div>
    <app-advantages></app-advantages>
  </div>
<!--  <div>-->
<!--    <div class="title">Отзывы</div>-->
<!--    <div class="padding"></div>-->
<!--  </div>-->
</div>
